In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
csv_path = os.path.join('..', 'data', 'three_bedroom.csv')
df = pd.read_csv(csv_path)
csv_path2 = os.path.join('..', 'data', 'two_bedroom.csv')
df = pd.read_csv(csv_path)
df2 = pd.read_csv(csv_path2)

In [3]:
df.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,numberofstories,regionidcounty,regionidcity,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,STATE,Zip_Code
0,11209593,1.0,3.0,4.0,1000.0,34558543.0,-118034267.0,NaN,3101.0,40227.0,60915.0,15226.0,OR,97330
1,11209739,3.0,3.0,8.0,2190.0,34559982.0,-118029802.0,NaN,3101.0,40227.0,180100.0,49900.0,OR,97330
2,11210314,2.0,3.0,6.0,1247.0,34563392.0,-118041378.0,NaN,3101.0,40227.0,70984.0,17738.0,OR,97330
3,11210583,3.0,3.0,8.0,1418.0,34565117.0,-118038399.0,NaN,3101.0,40227.0,114490.0,38162.0,OR,97330
4,11210952,2.0,3.0,6.0,1526.0,34569517.0,-118046514.0,NaN,3101.0,40227.0,137260.0,32326.0,OR,97330

In [4]:
df2.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,numberofstories,regionidcounty,regionidcity,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,STATE,Zip_Code
0,11210683,2.0,2.0,6.0,1380.0,34565307.0,-118051993.0,NaN,3101.0,40227.0,99825.0,17737.0,OR,97330
1,11213934,2.0,2.0,6.0,1284.0,34563425.0,-118025036.0,NaN,3101.0,40227.0,137700.0,54300.0,OR,97330
2,11231783,1.0,2.0,8.0,900.0,34551331.0,-118038050.0,NaN,3101.0,40227.0,113800.0,38200.0,OR,97330
3,11231960,1.0,2.0,8.0,900.0,34550958.0,-118031956.0,NaN,3101.0,40227.0,70487.0,17618.0,OR,97330
4,11210193,2.0,2.0,6.0,1260.0,34565179.0,-118042941.0,NaN,3101.0,40227.0,128405.0,32101.0,OR,97330