In [30]:
# This is the main file for our team project
# the purpose of this project is to analyze the big data files and answer few questions

In [31]:
# All dependency
import os
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import requests as req

In [32]:
# Call Data file for three and two bedroom house and create the dataframe.
csv_path = os.path.join('..', 'data', 'three_bedroom.csv')
three_bedroom_df = pd.read_csv(csv_path)
csv_path2 = os.path.join('..', 'data', 'two_bedroom.csv')
two_bedroom_df = pd.read_csv(csv_path2)

In [33]:
three_bedroom_df.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,numberofstories,regionidcounty,regionidcity,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,STATE,Zip_Code
0,11209593,1.0,3.0,4.0,1000.0,34558543.0,-118034267.0,NaN,3101.0,40227.0,60915.0,15226.0,OR,97330
1,11209739,3.0,3.0,8.0,2190.0,34559982.0,-118029802.0,NaN,3101.0,40227.0,180100.0,49900.0,OR,97330
2,11210314,2.0,3.0,6.0,1247.0,34563392.0,-118041378.0,NaN,3101.0,40227.0,70984.0,17738.0,OR,97330
3,11210583,3.0,3.0,8.0,1418.0,34565117.0,-118038399.0,NaN,3101.0,40227.0,114490.0,38162.0,OR,97330
4,11210952,2.0,3.0,6.0,1526.0,34569517.0,-118046514.0,NaN,3101.0,40227.0,137260.0,32326.0,OR,97330

In [34]:
two_bedroom_df.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,numberofstories,regionidcounty,regionidcity,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,STATE,Zip_Code
0,11210683,2.0,2.0,6.0,1380.0,34565307.0,-118051993.0,NaN,3101.0,40227.0,99825.0,17737.0,OR,97330
1,11213934,2.0,2.0,6.0,1284.0,34563425.0,-118025036.0,NaN,3101.0,40227.0,137700.0,54300.0,OR,97330
2,11231783,1.0,2.0,8.0,900.0,34551331.0,-118038050.0,NaN,3101.0,40227.0,113800.0,38200.0,OR,97330
3,11231960,1.0,2.0,8.0,900.0,34550958.0,-118031956.0,NaN,3101.0,40227.0,70487.0,17618.0,OR,97330
4,11210193,2.0,2.0,6.0,1260.0,34565179.0,-118042941.0,NaN,3101.0,40227.0,128405.0,32101.0,OR,97330

In [37]:
# In this section, we need to find the weather of the zipcodes listed in the data frame.
# First need to Build partial query URL
# Second Create the file for Loop through the list of Zipcodes and perform a request 
# for tempture on the specified zipcode


url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
api_key = "0107817357c91c780b0c4c57975d26f7" #get_file_contents(filename)
query_url = url + "appid=" + api_key + "&units=" + units + "&zip=" 


def get_tempture_for_zipcode(Zipcodes):
    lat_list = []
    lng_list = []
    temp_list = []
    #weather_data = []
    errordatacount = 0
    
    for zipcode in Zipcodes:
        
        response = req.get(query_url + str(zipcode) ).json()
        
        try:
            lat_list.append(response["coord"]["lat"])
            lng_list.append(response["coord"]["lon"])
            temp_list.append(response["main"]["temp"])
            #weather_data.append(response)
        except:
            print("%s Error with Zipcode data. Skipping", errordatacount)
            errordatacount +=1
            
    return(lat_list, lng_list, temp_list)

In [39]:
# Call the file for getting the tempture for two and three bedrooms house

three_lat_list = []
three_lng_list = []
three_temp_list = []
#humidity_list = []
#weather_data = []
two_lat_list = []
two_lng_list = []
two_temp_list = []
threebedroom_Zipcodes = three_bedroom_df["Zip_Code"].unique()
three_lat_list, three_lng_list, three_temp_list = get_tempture_for_zipcode(threebedroom_Zipcodes)
print("Three bed room tem_list",three_temp_list)
twobedroom_Zipcodes = two_bedroom_df["Zip_Code"].unique()
two_lat_list, two_lng_list, two_temp_list = get_tempture_for_zipcode(twobedroom_Zipcodes)
print("two bedroom temp_list", two_temp_list)

Three bed room tem_list [11.79, 11.99, 14, 8, 9, 10.25, 7.56, 14, 14.47, 7.53, 14, 8.49, 14, 12.46, 8, 6.66, 7.49, 8.58, 11.91, 7.39, 7.91, 8, 14, 9.95, 8, 8, 7.91, 13, 11.67, 11, 11.75, 11.75, 12.2, 13, 11.25, 11.25, 11.63, 11, 11.57, 11.67, 11, 11.25, 11.22, 6.66, 8.31, 11.67, 11.76, 6, 9.46, 9.46, 8, 8, 8.97, 8, 14, 8, 8, 10.98, 9.06, 14, 14, 10.19, 14.32, 12.41, 14, 14, 14.26, 14, 11.86, 12.96, 8, 8, 9.26, 11.67, 11.75, 13, 13, 11.56, 11.75, 13, 11.14, 13, 11.86, 11.67, 11.58, 11.75, 11.75, 11, 11.75, 11.75, 11.75, 13, 11.51, 14]
two bedroom temp_list [11.79, 11.99, 14, 8, 9, 10.25, 7.56, 14, 14.47, 7.53, 14, 8.49, 14, 12.46, 8, 6.66, 7.49, 8.58, 11.91, 7.39, 7.91, 8, 14, 9.95, 8, 8, 7.91, 13, 11.67, 11, 11.75, 11.75, 12.2, 13, 11.25, 11.25, 11.63, 11, 11.57, 11.67, 11, 11.25, 11.22, 6.66, 8.31, 11.67, 11.76, 6, 9.46, 9.46, 8, 8, 8.97, 8, 14, 8, 8, 10.98, 9.06, 14, 14, 10.19, 14.32, 12.41, 14, 14, 14.26, 14, 11.86, 12.96, 8, 8, 9.26, 11.67, 11.75, 13, 13, 11.56, 11.75, 13, 11.14, 13, 11.86, 11.67, 11.58, 11.75, 11.75, 11, 11.75, 11.75, 11.75, 13, 11.51, 11.67, 9.51]